body {
    padding: 1rem;
}

.header {
    background: #4f94df;
    color: white;
    padding: 1rem;
}

.header-inner {
    display: flex;
    justify-content: space-between;
}

.logo img {
    height: 70px;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 5rem;
}

.main-inner {
    max-width: 800px;
    margin: 7rem auto;
}

.register-section {
    border: 1px solid #ddd;
    padding: 1rem;
}

h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.register-section-details_flex {
    display: flex;
    align-items: center;
    margin: 0 auto 1rem;
    gap: 1rem;
    max-width: 600px; /* 限制最大宽度 */
}

.register-section-details_flex div,
.register-section-details_flex label {
    width: 150px;
    font-weight: bold;
}

.register-section-details_flex input,
.register-section-details_flex textarea {
    flex: 1;
}

input, textarea {
    width: 100%;
    margin-top: 10px;
}

textarea {
    min-height: 150px;
}

/* 按钮容器居中 */
.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.register {
    background: #4f94df;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.back-btn {
    background: #6c757d;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}
.btn btn--orange btn--radius{
    text-align: center;
}