<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG_EDIT</title>
    <link rel="stylesheet" href="/BlogProject/css/blog_edit.css">

</head>

<body>
    <header>
        <nav class="header">
            <div class="header-inner">
                <div class="logo">
                    <a href=""><img src="/BlogProject/img/LOGO.jpeg"></a>
                </div>
                <ul class="header-list">
                    <li class="header-list-item" th:text=""></li>
                    <li class="header-list-item"><a th:href="">ブログ一覧</a></li>
                    <li class="header-list-item"><a th:href="">ログアウト</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-inner">
            <section class="register-section">
                <h2>ブログ登録</h2>
                <form th:action="" method="post">
                    <div class="register-section-details">
                        <div class="register-section-details_flex">
                            <div>ブログタイトル</div>
                            <input type="text" placeholder="タイトルをいれてください" name="blogTitle">
                        </div>
                        <div class="register-section-details_flex">
                            <label >日付</label>
                            <input type="date" name="time_cho">
                        </div>
                        <div class="register-section-details_flex">
                            <div>ブログ画像</div>
                            <input type="file" name="blogImage">
                        </div>
                        <div class="register-section-details_flex">
                            <div>ブログ内容</div>
                            <textarea name="blogContent" placeholder="内容をいれてください" text=""></textarea>
                        </div>

                    </div>
                    <div class="register-section-details_flex">
                        <input type="hidden" name="blogId">
                        <button class="register">登録</button>
                        <button class="register"  id="back" onclick="history.back();" type="button">戻る</button>
                    </div>
            </section>
        </div>
    </main>
    <footer>
        <small>Copyright &copy; GAKU All rights reserved</small>
    </footer>

</body>

</html>