<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BLOG_LIST</title>
	<link rel="stylesheet" th:href="@{/css/blog_list.css}">

</head>

<body>
	<header>
		<nav class="header">
			<div class="header-inner">
				<div class="logo">
					<a href=""><img src="/img/blog.png"></a>
				</div>
				<ul class="header-list">
					<li class="header-list-item" th:text="${session.adminName}"></li>
					<li class="header-list-item"><a th:href="@{/blog/list}">ブログ一覧</a></li>
					<li class="header-list-item"><a th:href="@{/admin/logout}">ログアウト</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<article>
			<h1 th:text="|ようこそ!${session.adminName}さん|" style="text-align:center;font-size:50px;"></h1>
			<section class="register-item">
				<div>
					<img src="/img/welcome.gif" alt="">
				</div>
				<div class="all-view-register__button">
					<a th:href="@{/blog/list}" class="btn btn--orange btn--radius">ブログリスト</a>
					<a th:href="@{/blog/register}" class="btn btn--orange btn--radius">ブログ登録</a>
				</div>
			</section>
		</article>

	</main>
</body>
<footer>
	<small>Copyright &copy; GAKU All rights reserved</small>
</footer>

</html>